<div>
  <h1 class="title">User Profile</h1>
  <div class="container">
  <div class="left-container">
    <ul class="profile">
      <li>First Name: <%= current_user.first_name %></li>
      <li>Last Name: <%= current_user.last_name %></li>
      <li>Email: <%= current_user.email %></li>
    </ul>
  </div>
  <div class="spacer"></div>
  <div class="right-container">
    <ul class="stats">
    <li>Stats go here</li>
    </ul>
    <table>
      <tr>
        <td>Date Played</td>
        <td>Name of Deck</td>
        <td>Cards in Deck</td>
        <td>First Guess Correct</td>
        <td>Total Guesses</td>
      </tr>
      <% current_user.rounds.each do |round| %>
        <tr>
          <td><%=round.created_at.strftime("%d %B %Y")%></td>
          <td><%=round.deck.name%></td>
          <td><%=round.deck.cards.count%></td>
          <td></td>
          <td><%=round.total_guesses%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
