<div>
  <h1 class="title">User Profile</h1>
  <div class="profile-container">
    <h2 class="profile-title">My Info</h2>
    <ul class="profile">
      <li>First Name: <%= current_user.first_name %></li>
      <li>Last Name: <%= current_user.last_name %></li>
      <li>Email: <%= current_user.email %></li>
    </ul>
  </div>

  <div class="spacer"></div>


   <div class="profile-container">
    <h2 class="profile-title">My Statistics</h2>
    <% if current_user.rounds.count > 1 %>
      <table>
        <tr class="stats-header">
          <td>Date Played</td>
          <td>Name of Deck</td>
          <td>Cards in Deck</td>
          <td>First Guess Correct</td>
          <td>Total Guesses</td>
        </tr>
        <% current_user.rounds.each do |round| %>
          <% if round.completed %>
          <tr class="stats-row">
            <td><%=round.created_at.strftime("%d %B %Y")%></td>
            <td><%=round.deck.name%></td>
            <td><%=round.deck.cards.count%></td>
            <td><%=round.first_guess_correct%></td>
            <td><%=round.total_guesses%></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    <% else %>
      <ul>
        <li><a href="/decks">Play a game</a> to see some stats!</li>
      </ul>
    <% end %>
  </div>

  <div class="spacer"></div>

  <div class="profile-container">
      <h2 class="profile-title"><a href="/users/decks">My Decks</a></h2>
      <ul>
      <% if Deck.find_author(current_user.id).empty? %>
        <li>You haven't created any decks yet. Click <a href="/decks/new">here</a> to create your first one!</li>
      <% else %>
        <%= erb :'users/decks', locals: {decks: @decks}%>
      <% end %>
    </ul>
  </div>

</div>
