<!-- needs to be passed a @deck object & a @card object @round object -->

<h1><%= @deck.name %></h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<div class="card">
  <%= @card.question %>
</div>

<% if @guess_num == 3 %>
<%= @card.answer %>
<p><a href="/games/<%=@game.id%>/cards/<%=@next_card.id%>">Go to next card</a></p>
<% end %>

<div class="input-form">
  <%= erb :'cards/_form', locals: {game: @game, card: @card} %>
</div>

