<h1><%= @deck.name %></h1>


<div class="card">
  <%= @card.question %>
</div>

<% if flash[:message] %>
  	<%= flash[:message] %>
	<% if flash[:wrong]%>
    <%=flash[:wrong]%>
		<%= @card.answer %>
	<% end %>
<% end %>

<div class="input-form">
  <%= erb :'cards/_form', locals: {round: @round, card: @card} %>
</div>

