<h1 class ="deck_name"><%= @deck.name %></h1>


<div class="card">
  <p class="card_question"><%= @card.question %></p>
</div>

<% if flash[:message] %>
  	<%= flash[:message] %>
<% end %>
<% if flash[:wrong]%>
    <%=flash[:wrong]%>
<% end %>

<div class="input-form">
  <div class="answer">
  <%= erb :'cards/_form', locals: {round: @round, card: @card} %>
</div>
</div>

