<div class="container">
  <div id="circle"><strong></strong></div>
  <%= @card.question %>
  <div class="input">
    <form action="/guess" method="post">
      <input type="hidden" name="id" value="<%= @card.id %>">
      <input type="hidden" name="round_id" value="<%= @round.id %>">
      <div><textarea name="answer" placeholder="Answer"/></textarea></div>
      <div><input type="submit" value="Submit"></div>
    </form>
  </div>
</div>


<script>
  $('#circle').circleProgress({
      value: <%= @round_stat %>,
      size: 80,
      fill: {
          gradient: ["black", "#7FC7AF"]
      }
  }).on('circle-animation-progress', function(event, progress) {
    $(this).find('strong').html(parseInt(<%= @round_stat * 100 %> * progress) + '<i>%</i>');
});
</script>
