<h1><%= @deck.name %></h1>


<div class="card">
  <%= @card.question %>
</div>

<% if flash[:message] %>
  	<%= flash[:message] %>
	<% end %>
	<%= @card.answer %>
	<p><a href="/rounds/<%=@round.id%>/card/next">Go to next card</a></p>
<% end %>

<div class="input-form">
  <%= erb :'cards/_form', locals: {round: @round, card: @card} %>
</div>

