<div class = "round_container">
  <h1><%= @deck.name %></h1>
  <h4>Created by <%= @creator.username %> on <%= convert_date_format(@deck.created_at) %></h4>

  <table>
    <tr>
      <th> Question </th>
      <th> Answer </th>
    </tr>
    <% @cards.each do |card| %>
    <tr>
      <td><%= card.question %></td>
      <td><%= card.answer %></td>
    </tr>
    <% end %>
  </table>

  <form action="/rounds" method="post">
    <input type="hidden" name="round[deck_id]" value="<%= @deck.id %>">
    <br><input type="submit" value="Play"></br>
  </form>

  <% if session[:user_id] == @deck.creator_id%>
    <form action="/decks/<%= @deck.id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <br><input type="submit" value="Delete"></br>
    </form>
  <%end%>
</div>
