<div class = "container">
  <h1><%= @deck.name %></h1>
  <h4>Created by <%= @creator.username %> on <%= @deck.created_at.year %>-<%= @deck.created_at.month %>-<%= @deck.created_at.day %></h4>
  <div id = "deck_list">
    <ul>
      <% @cards.each do |card| %>
      <li><%= card.question %>: <%= card.answer %></li>
      <% end %>
    </ul>
  </div>

  <form action="/rounds" method="post">
    <input type="hidden" name="round[deck_id]" value="<%= @deck.id %>">
    <br><input type="submit" value="Play"></br>
  </form>
</div>
